body {
    color: #4D4D50;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
}

h1 {
    color: #111;
    font-weight: 400;
    font-size: 2.8em;
    line-height: 1;
}

h2 {
    margin: 0 0 .8em 0;
    color: #111;
    font-weight: 400;
    font-size: 1.3em;
}

h3 {
    margin: 0;
    color: #111;
    font-weight: 700;
    font-size: 1em;
}

a, a:visited {
    color: #790F5B;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #2a0520;
    text-decoration: underline;
    text-decoration-skip: ink;
}

.main {
    width: 80%;
    margin: 80px 0 100px 5%;
}

@media only screen and (min-width: 800px) {
    .main {
        width: 580px;
        margin: 140px auto 200px auto;
        padding-right: 180px;
        padding-right: 25vw
    }
}

.section {
    margin-bottom: 5em;
}

.dash:after {
    content: '\2014';
    padding: 0 .8em;
}

.explain {
    cursor: help;
}

.intro {
    -webkit-columns: 2 220px;
       -moz-columns: 2 220px;
            columns: 2 220px;
    -webkit-column-gap: 1.8em;
       -moz-column-gap: 1.8em;
            column-gap: 1.8em;
}

.social {
    margin: 0 0 .8em 0;
    padding-left: 0;
    list-style: none;
    font-size: 1.3em;
}

@media only screen and (min-width: 800px) {
    .social li {
        display: inline-block;
    }
    .social li:after {
        content: '\2014';
        padding: 0 .8em;
    }
    .social li:last-child:after {
        content: none;
    }
}

.social--additional {
    font-size: 1em;
}

.talk {
    margin-bottom: 2.5em;
}

.talk__original {
    display: block;
    font-weight: 400;
    color: #B7B7B7;
}

.footer{
    margin-top: 12em;
    font-size: .8em;
    line-height: 1.3;
    color: #B7B7B7;
}
