<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="copyright">
      {% if site.copyright %} {{ site.copyright | markdownify }} {% else %}
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</p>
      {% endif %}
    </div>
  </div>
</footer>

<amp-analytics type="gtag" data-credentials="include">
  <script type="application/json">
    {
      "vars": {
        "gtag_id": "UA-639471-27",
        "config": {
          "UA-639471-27": { "groups": "default" }
        }
      }
    }
  </script>
</amp-analytics>
