<div class="newsletter">
  <form
    action="https://www.getrevue.co/profile/robinpokorny/add_subscriber"
    method="post"
    id="revue-form"
    name="revue-form"
    target="_blank"
  >
    <h4 class="newsletter__title">
      ✉️ TypeScript &amp; Tech Leadership Newsletter
    </h4>
    <p class="newsletter__subtitle">
      Subscribe to my infrequent newsletter and receive articles I've enjoyed.
    </p>
    <p>
      <input
        class="newsletter__field"
        placeholder="Your email address..."
        type="email"
        name="member[email]"
        id="member_email"
      />

      <input
        type="submit"
        class="btn"
        value="Subscribe"
        name="member[subscribe]"
        id="member_submit"
      />
    </p>
    <p class="newsletter__terms">
      By subscribing, you agree with Revue’s
      <a target="_blank" href="https://www.getrevue.co/terms">Terms</a> and
      <a target="_blank" href="https://www.getrevue.co/privacy"
        >Privacy Policy</a
      >.
    </p>
  </form>
</div>
