<div
  id="revue-embed"
  style="
    padding: 60px 30px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #fefefe;
    margin-top: 100px;
  "
>
  <form
    action="https://www.getrevue.co/profile/robinpokorny/add_subscriber"
    method="post"
    id="revue-form"
    name="revue-form"
    target="_blank"
  >
    <h4 style="margin-bottom: 0.5em">
      ✉️ TypeScript &amp; Tech Leadership Newsletter
    </h4>
    <p style="margin-bottom: 1.5em">
      Subscribe to my infrequent newsletter and receive articles I've enjoyed.
    </p>
    <p style="/* margin-bottom: 0.5em; */">
      <input
        class="revue-form-field"
        placeholder="Your email address..."
        type="email"
        name="member[email]"
        id="member_email"
        style="
          display: inline-block;
          padding: 0.5em 1em;
          border: 0;
          border-radius: 0.25em;
          background-color: rgb(238, 238, 238);
        "
      />

      <input
        type="submit"
        class="btn"
        value="Subscribe"
        name="member[subscribe]"
        id="member_submit"
      />
    </p>
    <p class="" style="color: #83888d; font-size: 80%; margin-bottom: 0em">
      By subscribing, you agree with Revue’s
      <a target="_blank" href="https://www.getrevue.co/terms">Terms</a> and
      <a target="_blank" href="https://www.getrevue.co/privacy"
        >Privacy Policy</a
      >.
    </p>
  </form>
</div>
