/* ==========================================================================
   Opera theme skin (custom)
   ========================================================================== */

/* Colors - warm, sophisticated palette */
$base-color: #393e46 !default;
$text-color: #181c22 !default;
$accent-color: #c44536 !default;
$background-color: #eeeeee !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.15) !default;
$overlay-color: $base-color !default;

/* Sidebar */
$sidebar-background-color: #fff !default;
